<footer>
  <nav class="nav__footer">
    <ul class="footer__links">
      <li class="sans-serif footer__links footer__links--item"><a href="#">Home</a></li>
      <li class="sans-serif footer__links footer__links--item"><a href="#">About</a></li>
      <li class="sans-serif footer__links footer__links--item"><a href="#">Contact</a></li>
      <li class="sans-serif footer__links footer__links--item"><a href="#">Shop</a></li>
      <li class="sans-serif footer__links footer__links--item"><a href="#">Bees</a></li>
    </ul>
  </nav>
</footer>
