<footer>
  <section class="images">
    <img src="../../assets/honey-bears.jpg" alt="loaded honey jars shaped like bears"/>
    <img src="../../assets/in-the-hive.jpg" alt="hundreds of honey bees working on their honeycomb found within the hives"/>
    <img src="../../assets/honey-label.jpg" alt="the bee and bunny logo on the new labels for Angel Bunny Apiary"/>
    <img src="../../assets/queen-bee.jpg" alt="the queen bee, with a much longer abdomen, found inside her hive with her workers"/>
    <img src="../../assets/honey-jars.jpg" alt="jars of the first honey harvest by Angel Bunny"/>
  </section>
  <section class="page-bottom">
    <img src="../../assets/logo.svg" alt="bee flying innocently around a bunny" />
    <p class="copyright content-text">&copy; 2023 Angel Bunny Apiary</p>
  </section>
</footer>
