<section class="our-story" id="about-us">
  <header class="our-story__heading">
    <h3 class="heading-text heading__title">Our Little Story</h3>
  </header>
  <p class="content-text our-story__p1">
    The name, Angel Bunny Apiary, is inspired by my late mom, Carolyn. She had many nicknames for all of her grandkids, but all of them were her "angel bunnies." Carolyn was the glue that held our family together. She helped us grow, and showed her family what unconditional love meant. 
  </p>
  <p class="content-text our-story__p2">
    Carolyn was as sweet as the honey made by the hardworking bees of Angel Bunny Apiary. We're small, and like it that way. For all of your local honey needs, just fill out the form at the bottom of this page. We'll be glad to get you some Angel Bunny Honey! 
  </p>
</section>


