@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&family=Pathway+Gothic+One&display=swap');

.content-text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.nav-text {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}

.button-text {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}

.heading-text {
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 400;
}
