<section class="videos">
  <div class="videos__container">
    <iframe width="780" height="500" src="https://www.youtube.com/embed/MZVaU3pjNDI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>
  </div>

  <section class="videos__cta">
    <p class="content-text videos__cta-text">
      Checkout our YouTube channel to see more videos!
    </p>
    <a class="videos__cta-link" href="https://www.youtube.com/@angelbunnyapiary1790">
      <app-button name="See More Videos"></app-button> 
    </a>
  </section>
</section>